/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.navbar {
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	margin-bottom: 0;
}

.megaheader {
	font-size: 48pt;
}

ul.mobile-nav {
	padding-left: 0;
}

ul.mobile-nav li {
	list-style: none;
	overflow: hidden;
}

ul.mobile-nav li h3 {
	margin: 20px 0;
}

ul.mobile-nav li h3:nth-child(2) {
	text-align: right;
}












