/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.navbar {
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	margin-bottom: 0;
}

div.megaheader h1 {
	font-size: 48pt;
	margin: 20px 0;
}

div.subheader h3 {
	color: #aaa;
	margin: 20px 0 250px 13px;
}

ul.mobile-nav {
	padding-left: 0;
}

ul.mobile-nav li {
	border-bottom: 1px dotted #ddd;
	list-style: none;
	overflow: hidden;
}

ul.mobile-nav li:first-child {
	border-top: 1px dotted #ddd;
}

ul.mobile-nav li h3 {
	margin: 20px 0;
}

ul.mobile-nav li h3:nth-child(2) {
	text-align: right;
}












